<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
        color: #8B0000;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
	
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        color: #8B0000 !important;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #8B0000;
    }
    a {
        font-weight: normal;
        color: #8B0000;
    }
    table, p {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #8B0000;
        margin: auto;
    }
    td.titre {
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
	    padding-top: 12px;
	    font-size: 7px;
        line-height: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
    .exergue {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        margin: 0 25%;
    }
</style>


<table cellspacing="5" border="0" style="width: 100%;">
    <tr align="center">
        <td colspan="3">
            <h1><img id="balsa-logo" src="http://balsamine.be/uploads/Partenaires.Partenaires/balsamine-logo_part3-couleur.png" alt="à la balsa"/></h1>
        </td>
    </tr>
    <tr align="center">
    <td colspan="3" style="padding-right:80px; padding-left:80px;">
            <p class="exergue">
                <br />
                OUVERTURE DE SAISON LE&nbsp;20 SEPTEMBRE DÈS 19H <br />
                VERNISSAGE EXPOSITION PHOTOS DE HICHEM DAHES<br /><br />
            </p>
            <p class="exergue">
            Les Bootstraps de la Balsa:<br />
            Cinq rendez-vous performatifs qui&nbsp;parcourent la saison et lui insufflent leur impulsion. En&nbsp;guise d’inauguration, un premier Bootstrap qui se décline en deux soirées, sinon rien!
            </p>
            <br />
            <h1>Bootstrap Ⅰ</h1>
        </td>
    </tr>
    </table>
    <table cellspacing="5" border="0" style="width: 100%;">
    <tr align="center">
        <td>
            <img src="http://www.balsamine.be/uploads/bootstrap-ellipse.png" alt="Drapés bootstrap" />
            <p class="legend">© Hichem Dahes</p>
        </td>
        <td class="titre" style="padding-left:30px;">
        <p>&#8625; Edgar(d) Gunzig</p>
        <h2>LE BOOTSTRAP,<br />
        L’UNIVERS<br />
        ET TOUT ÇA…</h2>
            <p>
                20 septembre 2012<br />
                à&nbsp;20h30
            </p>
            <p>
                Conférence<br />suivi d’un concert «stellaire» composé par&nbsp;Thomas&nbsp;Turine 
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Saison2012-2013/LeBootstrapSelonEdgarDGunzig">Plus d’infos</a><br />
                &#8618; <a href="http://billetterie.balsamine.be/cgi?lg=fr&pag=1727&rec=38">Réserver</a>
            </p>
        </td>
        <td style="width: 30%; padding-left:30px; padding-right:40px;">
            <p>
Afin d'introduire cette série de performances "boostrappistes à haute fermentation", il est plus qu'évident de faire appel à celui qui a fait de ce terme, une notion majeure de la création de l'univers. Edgar(d) Gunzig, Docteur en sciences physiques, nous fait l'honneur de sa présence et, par amour du théâtre, s'extrait du lac pour rejoindre la lune. Une&nbsp;conférence inédite ! 
            </p>
        </td>
    </tr>
    </table>
    <table cellspacing="5" border="0" style="width: 100%;">
    <tr align="center">
    <td style="width: 30%; padding-left:40px; padding-right:30px;">
            <p>
Au tout début c'est contre, ou en dessous, je ne sais plus. Puis&nbsp;vient le détachement et transformation en objet, vidéo, forme&nbsp;indépendante. Ensuite, cela s'éloigne de la peau, tout&nbsp;en&nbsp;conservant son parfum. Aujourd'hui, la sensation revient, tel un tatouage cherchant son sillon. 
            </p>
        </td>
        <td class="titre" style="padding-left:5px; padding-right:30px;">
        <p>&#8625; Thomas Israël</p>
            <h2>SKINSTRAP</h2>
            <h3>Auto-fiction<br />
            à même la&nbsp;peau</h3>
            <p>
                21 septembre 2012 à&nbsp;20h30
            </p>
            <p>
                Performance vidéo
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://billetterie.balsamine.be/cgi?lg=fr&pag=1727&rec=38">Réserver</a>
            </p>
        </td>
        <td>
        <img src="http://www.balsamine.be/uploads/skinstrap-penta.png" alt="Photo de Skinstrap" />
            <p class="legend">© Thomas Israël</p>
        </td>
    </tr>
    <tr align="center">
    <td colspan="3">
            <br />
            <p style="border: 1px solid #8B0000; padding: 12px; width: 80px; margin: auto;">
                6&thinsp;€<br />
                la soirée Bootstrap
            </p>
</td>
    </tr>
    <tr align="center">
        <td colspan="3">
            <p>
        <br />
        <br />
        Nouveauté:<br />
        Une restauration paysanne, diversifiée et faite maison <br />
        vous est proposée à partir de 19h et une heure après le spectacle.<br />
        Nous proposons un choix de plats à 12 euros <br />
        et également une petite restauration à 4 euros.<br />
        </p>
        </td>
    </tr>
</table>

<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; margin: auto; border-collapse: collapse; text-align: left; line-height: 18px; font-size: 14px; color: #8B0000; width: 570px; margin-top: 50px; margin-bottom: 100px;" cellspacing="0" border="0">
    <tr>
        <td style="border: 1px solid #8B0000; padding: 0 13px; width: 70%;" rowspan=3>
            la Balsamine <br />
            Avenue Félix Marchal, 1 <br />
            1030 Bruxelles
        </td>
        <td colspan=2>&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            Réservations
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            02 735 64 68 
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td rowspan=2 style="text-align: right; padding-top: 6px; padding-right: 10px; vertical-align: top;">
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/cfb.png" alt="cfb" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/ccfc.png" alt="ccfc" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/wbi.png" alt="wbi" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/wbtd.png" alt="wbtd" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/loterie.png" alt="loterie" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/article27.png" alt="article27" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/artsene.png" alt="arsène50" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/ligue-familles.png" alt="ligue des familles" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/gracq.png" alt="gracq" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/go.png" alt="go2" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/lapremiere.png" alt="la premiere" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/musiq3.png" alt="musiq3" />
        </td>
        <td colspan=2 style="border: 1px solid #8B0000; padding: 6px 13px;">
            <a style="color: #8B0000;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
        </td>
    </tr><tr>
        <td colspan=2 style="border: 1px solid #8B0000; padding: 6px 13px; width: 30%">
            <a style="color: #8B0000;" href="http://balsamine.be">www.balsamine.be</a>
        </td>
    </tr>
    <tr>
        <td colspan=3 class="legend" style="text-align: center; padding-top: 3em;"><a href="mailto:info@balsamine.be" style="color: #8B0000; text-decoration: none;">Si vous désirez ne plus recevoir la newsletter de la Balsamine, envoyez-nous une demande par mail.</a></td>
    </tr>
</table>
