<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<table cellspacing="19" border="0" style="width: 100%;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;text-align: center;font-weight: normal;font-size: 16px;line-height: 20px;color: #8B0000;margin: auto;">
    <tr>
        <td colspan="3">
<h1 style="font-weight: normal;font-size: 34px;line-height: 34px;color: #8B0000;text-transform: uppercase;"><img id="balsa-logo" src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/basse-def/balsamine-logo_part3-couleur.png;hb=HEAD" alt="à la balsa" style="vertical-align: middle;"></h1>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p class="exergue" style="font-family: &quot;UmeMinchoLatin&quot;, &quot;Andale Mono&quot;, &quot;Courier New&quot;, Monospace;text-transform: uppercase;margin: 0 25%;">
                <br>
                OUVERTURE DE SAISON LE&nbsp;20 SEPTEMBRE DèS 19H <br>
                VERNISSAGE EXPOSITION PHOTOS de Hichem Dahes<br><br><br>
            </p>
            <p style="margin: 0 25%;">
            Les Bootstraps de la Balsa: 5 rendez-vous performatifs qui&nbsp;parcourent la saison et lui insufflent leur impulsion. En&nbsp;guise d’inauguration, un premier Bootstrap qui se décline en deux soirées, sinon rien !<br><br><br>
            </p>
            <h1 style="font-weight: normal;font-size: 34px;line-height: 34px;color: #8B0000;text-transform: uppercase;">Bootstrap Ⅰ</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.BootstrapI/bootstrap.jpg" alt="Drapés bootstrap">
            <p class="legend" style="font-size: 11px;line-height: 16px;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;">© Hichem Dahes</p>
        </td>
        <td class="titre" style="border-bottom: 1px solid #8B0000;padding-top: 2em;padding-bottom: 3em;">
            <p>Edgar(d) Gunzig</p>
            <h2 style="font-weight: normal;font-size: 28px;line-height: 24px;color: #8B0000;text-transform: uppercase;font-family: &quot;UmeMinchoLatin&quot;, &quot;Andale Mono&quot;, &quot;Courier New&quot;, Monospace;">LE BOOTSTRAP, L’UNIVERS ET TOUT ÇA…</h2>
            <p>
                20 septembre 2012<br>
                à&nbsp;20h30
            </p>
            <p class="legend" style="font-size: 11px;line-height: 16px;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;">
                Conférence<br>suivi d’un concert «stellaire» composé par&nbsp;Thomas&nbsp;Turine. 
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Saison2012-2013/LeBootstrapSelonEdgarDGunzig" style="font-weight: normal;color: #8B0000;">Plus d’infos</a><br>
                &bull;
                <br>
                <a href="http://billetterie.balsamine.be/cgi?lg=fr&pag=1727&rec=38" style="font-weight: normal;color: #8B0000;">Réserver</a>
            </p>
        </td>
        <td>
            <!--<blockquote>-->
            <!--«A dark phantasm with brains and madness and ghosts and many others dark things from a dark creator. A Show d’Arkas!-->
            <!--</blockquote>-->
            <p>
Afin d'introduire cette série de performances "boostrappistes à haute fermentation", il est plus qu'évident de faire appel à celui qui a fait de ce terme, une notion majeure de la création de l'univers. Edgar(d) Gunzig, Docteur en sciences physiques, nous fait l'honneur de sa présence et, par amour du théâtre, s'extrait du lac pour rejoindre la lune. Une&nbsp;conférence inédite ! 
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
Au tout début c'est contre, ou en dessous, je ne sais plus. Puis&nbsp;vient le détachement et transformation en objet, vidéo, forme&nbsp;indépendante. Ensuite, cela s' éloigne de la peau, tout&nbsp;en&nbsp;conservant son parfum. Aujourd'hui, la sensation revient, tel un tatouage cherchant son sillon. 
            </p>
        </td>
        <td class="titre" style="border-bottom: 1px solid #8B0000;padding-top: 2em;padding-bottom: 3em;">
            <p>Thomas Israël</p>
            <h2 style="font-weight: normal;font-size: 28px;line-height: 24px;color: #8B0000;text-transform: uppercase;font-family: &quot;UmeMinchoLatin&quot;, &quot;Andale Mono&quot;, &quot;Courier New&quot;, Monospace;">SKINSTRAP</h2>
            <h3 style="font-weight: normal;font-size: 16px;line-height: 20px;color: #8B0000;">Auto-fiction à même la&nbsp;peau</h3>
            <p>
                21 septembre 2012 à&nbsp;20h30
            </p>
            <p class="legend" style="font-size: 11px;line-height: 16px;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;">
                Performance vidéo
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://billetterie.balsamine.be/cgi?lg=fr&pag=1727&rec=38" style="font-weight: normal;color: #8B0000;">Réserver</a>
            </p>
        </td>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.BootstrapI/th189---ffffff--skinstrap.jpg.jpg" alt="Photo de Skinstrap">
            <p class="legend" style="font-size: 11px;line-height: 16px;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;">© Thomas Israël</p>
        </td>
    </tr>
    <tr>
<td></td>
<td>
            <br>
            <br>
            <p style="border: 1px solid #8B0000; width: 80px; margin: auto;">
                6&thinsp;€<br>
                le samedi
            </p>
</td>
<td></td>
    </tr>
    <tr>
        <td colspan="3">
            <blockquote style="font-size: 14px;line-height: 18px;color: #8B0000;font-family: &quot;UmeMinchoLatin&quot;, &quot;Andale Mono&quot;, &quot;Courier New&quot;, Monospace;">
                <br>
                <br>
                Nouveauté: 
                Une restauration paysanne, diversifiée et faite maison vous est proposée à partir de 19h et une heure après le spectacle. 
                Nous proposons un choix de plats à 12 euros et également une petite restauration à 4 euros. 
            </blockquote>
        </td>
    </tr>
</table>

<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace;margin: auto;border-collapse: collapse;text-align: left;line-height: 18px;font-size: 14px;color: #8B0000;width: 570px;margin-top: 50px;margin-bottom: 100px;font-weight: normal;" cellspacing="0" border="0">
    <tr>
        <td style="border: 1px solid #8B0000; padding: 0 13px; width: 70%;" rowspan="3">
            La Balsamine <br>
            avenue Félix Marchal, 1 <br>
            1030 Bruxelles
        </td>
        <td colspan="2">&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            Réservations
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            02 735 64 68 
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td rowspan="2" style="text-align: right; padding-top: 6px; padding-right: 10px; vertical-align: top;">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/cfb.png;hb=HEAD" alt="cfb">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/ccfc.png;hb=HEAD" alt="ccfc">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/wbi.png;hb=HEAD" alt="wbi">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/wbtd.png;hb=HEAD" alt="wbtd">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/loterie.png;hb=HEAD" alt="loterie">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/article27.png;hb=HEAD" alt="article27">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/artsene.png;hb=HEAD" alt="arsène50">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/ligue-familles.png;hb=HEAD" alt="ligue des familles">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/gracq.png;hb=HEAD" alt="gracq">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/go.png;hb=HEAD" alt="go2">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/lapremiere.png;hb=HEAD" alt="la premiere">
            <img src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/partenaires/petit/musiq3.png;hb=HEAD" alt="musiq3">
        </td>
        <td colspan="2" style="border: 1px solid #8B0000; padding: 6px 13px;">
            <a style="color: #8B0000;font-weight: normal;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
        </td>
    </tr><tr>
        <td colspan="2" style="border: 1px solid #8B0000; padding: 6px 13px; width: 30%">
            <a style="color: #8B0000;font-weight: normal;" href="http://balsamine.be">www.balsamine.be</a>
        </td>
    </tr>
    <tr>
        <td colspan="3" class="legend" style="text-align: center;padding-top: 3em;font-size: 11px;line-height: 16px;font-family: &quot;UmePGothicBalsaRegular&quot;, &quot;Liberation Sans&quot;, &quot;Trebuchet MS&quot;, Arial, Sans-Serif;"><a href="mailto:info@balsamine.be" style="color: #8B0000;text-decoration: none;font-weight: normal;">Si vous désirez ne plus recevoir la newsletter de la Balsamine, envoyez-nous une demande par mail.</a></td>
    </tr>
</table>

