<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
        color: #8B0000;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
	
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        color: #8B0000 !important;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #8B0000;
    }
    a {
        font-weight: normal;
        color: #8B0000;
    }
    table, p {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #8B0000;
        margin: auto;
    }
    td.titre {
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
	    padding-top: 12px;
	    font-size: 7px;
        line-height: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
    .exergue {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        margin: 0 25%;
    }
</style>

<table style="font-family: UmeMinchoLatin, Andale Mono, Courier New, Monospace; margin: auto; border-collapse: collapse; text-align: left; line-height: 18px; font-size: 14px; color: #8B0000; width: 570px; margin-top: 50px; margin-bottom: 100px;" cellspacing="0" border="0">
    <tr>
        <td style="border: 1px solid #8B0000; padding: 0 13px; width: 70%;" rowspan=3>
            la Balsamine <br />
            Avenue Félix Marchal, 1 <br />
            1030 Bruxelles
        </td>
        <td colspan=2>&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            Réservations
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td style="border: 1px solid #8B0000; padding: 6px 13px;">
            02 735 64 68 
        </td>
        <td style="width: 50%">&nbsp;</td>
    </tr><tr>
        <td rowspan=2 style="text-align: right; padding-top: 6px; padding-right: 10px; vertical-align: top;">
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/cfb.png" alt="cfb" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/ccfc.png" alt="ccfc" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/wbi.png" alt="wbi" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/wbtd.png" alt="wbtd" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/loterie.png" alt="loterie" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/article27.png" alt="article27" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/artsene.png" alt="arsène50" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/ligue-familles.png" alt="ligue des familles" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/gracq.png" alt="gracq" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/go.png" alt="go2" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/lapremiere.png" alt="la premiere" />
            <img src="http://balsamine.be/uploads/Partenaires.Partenaires/emails/musiq3.png" alt="musiq3" />
        </td>
        <td colspan=2 style="border: 1px solid #8B0000; padding: 6px 13px;">
            <a style="color: #8B0000;" href="mailto:reservation@balsamine.be">reservation@balsamine.be</a>
        </td>
    </tr><tr>
        <td colspan=2 style="border: 1px solid #8B0000; padding: 6px 13px; width: 30%">
            <a style="color: #8B0000;" href="http://balsamine.be">www.balsamine.be</a>
        </td>
    </tr>
    <tr>
        <td colspan=3 class="legend" style="text-align: center; padding-top: 3em;"><a href="mailto:info@balsamine.be" style="color: #8B0000; text-decoration: none;">Si vous désirez ne plus recevoir la newsletter de la Balsamine, envoyez-nous une demande par mail.</a></td>
    </tr>
</table>
