<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 48px;
        line-height: 48px;
        color: #8B0000;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
	
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 28px;
        color: #8B0000 !important;
        text-transform: uppercase;
	letter-spacing: -1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #8B0000;
    }
    a {
        font-weight: normal;
        color: #8B0000;
    }
    table, p {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        text-align: center;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #8B0000;
        margin: auto;
    }
    td.titre {
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
	    padding-top: 12px;
	    font-size: 7px;
        line-height: 9px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
    .exergue {
	    font-family: "UmePGothicBalsaRegular", "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
        margin: 0 25%;
        text-transform: uppercase;
    }
</style>


<table cellspacing="5" border="0" style="width: 100%;">
    <tr>
        <td>
            <h1><img id="balsa-logo" src="http://balsamine.be/uploads/Partenaires.Partenaires/balsamine-logo_part3-couleur.png" alt="à la balsa"/></h1>
            <h2>Invitation</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p class="exergue">
                Madame Stéphanie Vilayphiou,
            </p>
            <p class="exergue">
                la Balsamine est heureuse de vous inviter pour
            </p>
        </td>
    </tr>
    <tr>
        <td>

            <p>&#8625; Edgar(d) Gunzig</p>
            <h2>Le Bootstrap, l'univers et tout ça&hellip;</h2>
            <p style="margin-bottom: 1em;">
                Conférence
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase;">
                du 17 au 20 octobre et du 24 au 27 octobre <br />à 20h30
            </p>
            <p style="margin-bottom: 1em; text-transform: uppercase; font-weight: bold;">
                Invitation pour<br />
                le 17 ou 18 octobre 2012 à 20h30
            </p>
            <p style="margin-bottom: 1em;">
                Ici du texte optionnel.
            </p>
            <p style="margin-bottom: 1em;">
                &darr;
            </p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/LArgent">Plus d’infos</a><br />
            </p>
            <img src="http://balsamine.be/uploads/Saison2012-2013.BootstrapI/bootstrap.jpg-traces.png" alt="Photo de drapé" />
            <p class="legend">© Hichem Dahes</p>
        </td>
    </tr>
</table>

