<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<table cellspacing="5" border="0" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; width: 100%; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;">
    <tr>
        <td>
            <h1 style="font-weight: normal; font-size: 48px; line-height: 48px; color: #8B0000; text-transform: uppercase; letter-spacing: -1px; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace;"><img id="balsa-logo" src="http://balsamine.be/uploads/Partenaires.Partenaires/balsamine-logo_part3-couleur.png" alt="à la balsa" style="vertical-align: middle;" /></h1>
            <h2 style="font-weight: normal; font-size: 28px; line-height: 28px; color: #8B0000 !important; text-transform: uppercase; letter-spacing: -1px; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace;">Invitation</h2>
        </td>
    </tr>
    <tr>
        <td>
            <p class="exergue" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; text-transform: uppercase; margin-top: 0; margin-right: 25%; margin-bottom: 0; margin-left: 25%;" align="center">
                Madame Stéphanie Vilayphiou 
            </p>
            <p class="exergue" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; text-transform: uppercase; margin-top: 0; margin-right: 25%; margin-bottom: 0; margin-left: 25%;" align="center">
                La Balsamine est heureuse de vous inviter  pour
            </p>
        </td>
    </tr>
</table>
<table cellspacing="5" border="0" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; width: 100%; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;">
    <tr>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.BootstrapI/bootstrap.jpg-traces.png" alt="Photo de drapé" />
            <p class="legend" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 7px; line-height: 9px; color: #8B0000; padding-top: 12px; text-transform: uppercase; letter-spacing: 1px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">© Hichem Dahes</p>
        </td>
        <td class="titre" style="padding-top: 2em; padding-bottom: 3em;">
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">&#8625; Edgar(d) Gunzig</p>
            <h2 style="font-weight: normal; font-size: 28px; line-height: 28px; color: #8B0000 !important; text-transform: uppercase; letter-spacing: -1px; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace;">Le Bootstrap, l'univers et tout ça&hellip;</h2>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">
                Conférence
            </p>
            <p style="text-transform: uppercase; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                du 17 au 20 octobre et du 24 au 27 octobre <br />à 20h30
            </p>
            <p style="text-transform: uppercase; font-weight: bold; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                Invitation pour<br />
                le 17 ou 18 octobre 2012 à 20h30
            </p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                Ici du texte optionnel.
            </p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">&darr;</p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">
                <a href="#" style="font-weight: normal; color: #8B0000;">Plus d’infos</a><br />
            </p>
        </td>
    </tr>
</table>
            <p class="exergue" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; text-transform: uppercase; margin-top: 0; margin-right: 25%; margin-bottom: 0; margin-left: 25%;" align="center">et pour</p>
<table cellspacing="5" border="0" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; width: 100%; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;">
    <tr>
        <td class="titre" style="padding-top: 2em; padding-bottom: 3em;">
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">&#8625; Thomas Israël</p>
            <h2 style="font-weight: normal; font-size: 28px; line-height: 28px; color: #8B0000 !important; text-transform: uppercase; letter-spacing: -1px; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace;">Skinstrap</h2>
            <h3 style="font-weight: normal; font-size: 16px; line-height: 20px; color: #8B0000;">Auto-fiction à même la peau</h3>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">
                Performance Vidéo
            </p>
            <p style="text-transform: uppercase; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                du 17 au 20 octobre et du 24 au 27 octobre <br />à 20h30
            </p>
            <p style="text-transform: uppercase; font-weight: bold; font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                Invitation pour<br />
                le 17 ou 18 octobre 2012 à 20h30
            </p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: 1em; margin-left: auto;" align="center">
                Ici du texte optionnel.
            </p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">&darr;</p>
            <p style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 12px; line-height: 14px; color: #8B0000; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">
                <a href="#" style="font-weight: normal; color: #8B0000;">Plus d’infos</a><br />
            </p>
        </td>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.BootstrapI/skinstrap.jpg-traces.png" alt="Description de la photo" />
            <p class="legend" style="font-family: 'UmePGothicBalsaRegular', 'UmeMinchoLatin', 'Andale Mono', 'Courier New', Monospace; text-align: center; font-weight: normal; font-size: 7px; line-height: 9px; color: #8B0000; padding-top: 12px; text-transform: uppercase; letter-spacing: 1px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto;" align="center">© Thomas Israël</p>
        </td>
    </tr>
</table>

