<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
    h1 {
        font-weight: normal;
        font-size: 34px;
        line-height: 34px;
        color: #8B0000;
        text-transform: uppercase;
    }
    h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 24px;
        color: #8B0000;
        text-transform: uppercase;
        font-family: "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #8B0000;
    }
    a {
        font-weight: normal;
        color: #8B0000;
    }
    table {
        font-family: "UmePGothicBalsaRegular", "Liberation Sans", "Trebuchet MS", Arial, Sans-Serif;
        text-align: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #8B0000;
        margin: auto;
        text-align: center;
    }
    td.titre {
        border-bottom: 1px solid #8B0000;
        padding-top: 2em;
        padding-bottom: 3em;
    }
    .legend {
        font-size: 11px;
        line-height: 16px;
        font-family: "UmePGothicBalsaRegular", "Liberation Sans", "Trebuchet MS", Arial, Sans-Serif;
    }
    blockquote {
        font-size: 14px;
        line-height: 18px;
        color: #8B0000;
        font-family: "UmeMinchoLatin", "Andale Mono", "Courier New", Monospace;
    }
    img#balsa-logo {
        vertical-align: middle;
    }
</style>


<table cellspacing="19" border="0" style="width: 100%;">
    <tr>
        <td colspan="3">
<h1><img id="balsa-logo" src="http://git.constantvzw.org/?p=osp.work.balsamine.2012-2013.git;a=blob_plain;f=pack-com/basse-def/balsamine-logo_part3-couleur.png;hb=HEAD" alt="à la balsa"/> en février</h1>
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.Ravissement/th294---ffffff--ravissement.jpg.jpg" alt="illustration faux/femme" />
            <p class="legend">© Hichem Dahes</p>
        </td>
        <td class="titre">
            <p>Stéphane Arcas</p>
            <h2>L'Argent</h2>
            <p>
                du 6 au 15 octobre 2011
                à&nbsp;20h30
            </p>
            <p class="legend">
                (relâche le dimanche et le lundi)<br />
                Amphithéâtre de la Balsamine
            </p>
            <p>&bull;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/LArgent">Plus d’infos</a><br />
                &bull;
                <br />
                <a href="#">Réservations</a>
            </p>
        </td>
        <td>
            <blockquote>
            «A dark phantasm with brains and madness and ghosts and many others dark things from a dark creator. A Show d’Arkas!
            </blockquote>
            <p>
            L'ARGENT est un spectacle qui parle de LA MORT.
            Comment évoquer la mort avec un langage de vivant?
            Comment rendre présente à l'esprit la mort qui justement est le paroxysme de l'absence?
            Comment mettre des images sur ce mot indéfinissable?
            Indéfinissable, mais qu'on tente de définir… en vain.
            Bon… tout cela peut paraître désespérant.
            Mais la Mort a l'avantage de ne pas manquer d'humour ou du moins de créer des situations qui prêtent à rire.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <blockquote>
    « En concevant ce projet, je me pose la question d'une psychologie intime et collective à la fois qui parlerait de l'être humain dans la complexité qui le façonne, de son inconscient et de notre rapport à lui, des nœuds qui s'y nouent et s'y dénouent.»
            </blockquote>
            <p class="legend">
                Témoignage / Raphaëlle Blancherie 
            </p>
            <p>
    Nœuds est cet obscur objet du désir porté par un duo féminin, pleinement là et qui nous offre une parole intime qui rejoint l’universel. Elles se livrent, lavent leur linge sale en public, pour participer à une quête relationnelle tout en s’amusant des déboires de la vie inconsciente qui affleure, des lapsus et des actes manqués…
            </p>
        </td>
        <td class="titre">
            <p>Raphaëlle Blancherie &amp; Karine Jurquet</p>
            <h2>NØEUDS</h2>
            <p>
                du 29 février au 10 mars 2012 à&nbsp;20h30
            </p>
            <p class="legend">
                (relâche le dimanche et le lundi)<br/>
                Studio de la Balsamine
            </p>
            <p>&darr;</p>
            <p>
                <a href="http://balsamine.be/index.php/Creations/Noeuds">Plus d’infos</a><br />
                &bull;
                <br />
                <a href="#">Réservations</a>
            </p>
        </td>
        <td>
            <img src="http://balsamine.be/uploads/Saison2012-2013.EnfantZ%c3%a9ro/th294---ffffff--enfantzero.jpg.jpg" alt="Description de la photo" />
            <p class="legend">© Hichem Dahes</p>
        </td>
    </tr>
</table>




